# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

__Objectives:__
* List popular languages for Data Science.
* List some of the most commonly used libraries.
* List three open-source tools for development environments.
* Show some examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Numpy
3. MapPlotLib
4. Seaborn

Data Science Tools |
--------|
Jupyter Notebook |
RStudio |
Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

- `3 + 5`  →  **8**
- `10 - 4` →  **6**
- `7 * 2`  →  **14**
- `20 / 5` →  **4.0**
- `2 ** 3` →  **8**  (potencia)

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3 * 4) + 5

17

In [9]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes / 60 
print("There are", hours, "hours in", minutes,"minutes")

There are 3.3333333333333335 hours in 200 minutes

## Author
Patricia Paredes